
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/Kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Kendo/kendo.silver.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Kendo/kendo.silver.mobile.min.css")" rel="stylesheet" type="text/css" />
}

<div class="row edit-profile-page">
    <div class="col-md-6">
        <section>
            <h4>Upload new profile picture</h4>
            <hr />
            @using (Html.BeginForm("UpdateUserAvatarUrl", "Upload", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="upload-image">
                        <p class="text-danger message" ID="ErrorMessage">
                        </p>

                        <div class="file-upload k-content">
                            <p class="upload-by">
                                Upload by:
                                <select name="upload-by" id="upload-by" class="upload-by">
                                    <option selected="selected" value="file">File</option>
                                    <option value="url">Url</option>
                                </select>
                            </p>
                            <input name="imgUrl" hidden="hidden" id="ImageUrl" type="text" class="img-title" placeholder="Image url..." />
                            <input name="files" id="file-upload-image" type="file" />
                            <input type="submit" id="Submit" class="btn btn-default" value="Upload" />
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-6">
        <section id="socialLoginForm">
            <h4>Change profile description</h4>
                <hr />
        </section>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/my-scripts/user-upload-image.js"></script>
}

