@model Wanderlust.WebClient.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="profile-header">
        <img src="@Model.AvatarUrl" class="profile-pic" />
        <div class="personal-info">
            <div class="profile-options">
                <h1>@Model.Username's Profile</h1>
                @Html.ActionLink("Edit Profile", "EditProfile", "Profile", new { area = ""}, new { @class = "btn btn-edit" })
            </div>
            <ul class="statistics">
                <li>@Model.Posts posts</li>
                <li>@Model.Followers followers</li>
                <li>@Model.Following following
                <li>
            </ul>
            <div class="profile-info">@Model.Userinfo</div>
        </div>
    </div>   
    @Html.Partial("ProfileImages", Model)
</div>



